html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color:#F3F3F3;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    overflow-x: hidden;
  }
  
   /* header start */
   header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
  margin-bottom: 40px;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color:  #141414;
    min-width: 100%;
  }
  
  .netflixLogo {
   object-fit: cover;
    max-width: 100px;
    max-height: 100%;  
    padding-left: 30px;
    padding-top: 0px; 
  }
  
  .netflixLogo img {  
    height: 35px;
    margin-bottom: 10px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding-bottom:50px; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 10px;  
  }

  .main-nav a:hover {
    color: #686868;
  }
  #search_field{
    margin-top: -8px;
  }
  .sub-nav { 
    display:flex;
    grid-area: sb;
    padding: 0 40px 0 40px;
    z-index:400;

  }
  
  .sub-nav a {
    color:#F3F3F3;
    text-decoration: none;
    margin: 5px;
 
  }
  
  .sub-nav a:hover {
    color: #686868;

  }


  #label{
      margin-top: 80px;
      margin-right: 220px;
      margin-left: 220px;
  }

  h1{
      color: #141414;
      font-weight: 500;
      display:block;
   
  }

  #label hr{
      width: 100%;
      border: 0.5px solid grey;
  }

  #membership{
    padding: 0 220px;
}


.membership-row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.membership-right-col{
  flex-basis:60%;
  display: flex;
}
.membership-left-col{
  flex-basis:40%;
}
.membership-right-col p{
margin-left: 10px;
margin-top:-30px;
  color: black;
  font-weight: 600;
}
.membership-left-col h4{
   text-transform: uppercase;
   color: grey;
   font-size: 23px;
}
.membership-left-col button{
  background-color: #D3D3D3;
  border-color: #D3D3D3;
  box-shadow: none;
  outline: none;
  text-align: center;
  height: 35px;
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
  width: 200px;
}

.membership-right-col a{
  margin-left: 130px;
  margin-top: -30px;
}

.membership-right-col .password{
  margin-top: -40px;
  color: grey;
  font-weight: 500;
}
.membership-right-col .changepassword{
  margin-left: 184px;
  margin-top: -40px;
}

.membership-right-col .phone{
  margin-top: -10px;
  color: grey;
  font-weight: 500;
}
.membership-right-col .changephone{
  margin-left: 148px;
  margin-top: -10px;
}
.email-right-col{
  flex-basis: 35%;
}
.email-left-col{
  flex-basis: 65%;
}
.email-left-col .strivemail{
  display: flex;
  margin-top: -5px;
  margin-left:338px;
  color:black;
}
.email-left-col i{
  display:flex;
  margin-top: 130px;
  margin-left: 80px;
  font-size:20px;
  color:black;
}

.payment{
  position: absolute;
  margin-top: -38px!important;
  margin-left:633px !important;
 
}
.payment2{
  margin-left: 633px;
}


.gift{
  display:block;
position: absolute;
margin-left: 650px;
margin-bottom:30px;
}

.gift2{
  margin-top: 10px;
  display:block;
  margin-left:650px !important;
}


#plan{
  padding: 0 220px;
}


.plan-row{
display:flex;
align-items: center;
flex-wrap: wrap;
}
.plan-right-col{
flex-basis:60%;
display: flex;
}
.plan-left-col{
flex-basis:40%;
}

.plan-right-col p{
  margin-left: 10px;
  margin-top:0px;
    color: black;
    font-weight: 600;
  }
  .plan-left-col h4{
     text-transform: uppercase;
     color: grey;
     font-size: 23px;    
  }

  .plan-right-col a{
    margin-left: 170px;
  }



  #settings{
    padding: 0 220px;
  }
  
  
  .settings-row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  }
  .settings-right-col{
  flex-basis:50%;

  }
  .settings-left-col{
  flex-basis:50%;
  }

    .settings-left-col h4{
       text-transform: uppercase;
       color: grey;
       font-size: 23px;    
    }
  
    .settings-right-col a{
      margin-left: -70px;
      display:block;
    }





    #myprofile{
      padding: 0 220px;
    }
    
    
    .profile-row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    }
    .profile-right-col{
    flex-basis:50%;
  
    }
    .profile-left-col{
    flex-basis:50%;
    }
  
      .profile-left-col h4{
         text-transform: uppercase;
         color: grey;
         font-size: 23px;    
      }
    
      .profile-right-col a{
        margin-left: -70px;
        display:block;
      }


      .profile2-right-col a{
        margin-left: 530px;
        display:block;
        margin-top: -38px;
        margin-bottom: 2px;
      }
    
      .profile3-right-col a{
        margin-left: 680px;
        display:block;
        margin-top: -38px;
      }