body{
    font-family: 'Roboto', sans-serif;
    object-fit: cover;
    width:100%;
    background-color: rgb(19, 14, 32);
}
a{
    margin:0 auto;
}
.logo{
    margin:0 auto;
}
.spinner-grow{
    margin:0 auto;
}
h1{
   margin:1rem auto;
   color: black;
   font-size: 50px;
   font-weight: 400;
}

#resultedimages{
    background-color: rgb(19, 14, 32);
    object-fit: cover;
    border: 0;
    border-radius: 0;
}
.card{
    background-color:  rgb(19, 14, 32);
    object-fit: cover;
    border-radius: 0;
    padding:0;

}
#searchbar{
    margin-left:40%;
    margin-bottom:2rem;
    margin-top:1rem;
    border-color: #581845;  
}
.alert{
    background-color: rgba(207, 24, 207, 0.438);
    color:white;
}
#button{
    margin-left: 48%;
    margin-top: 1rem;
    background-color: #C020C9; 
    
}

#button:hover{
    background-color: #A81CB0;
}
img{
    width:100%;
    height: 100%;
}
