html, body {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

#nav{
    background-color: rgba(255, 255, 255, 0.4);
    height: 65px;
    top:0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navitem{
    font-size: 30px;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    margin-top: 9px;
}

.main{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    padding-top: 148px;
    padding-right: 60px;
    padding-left: 60px;
}
input[type=submit]{
    width: 150px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Noto Sans SC', sans-serif;
    background-color:rgba(49, 49, 49, 0.664);
    margin-left: 550px;
    margin-bottom: 60px;
}
input[type="submit"]:hover{
   background-color: rgba(247, 204, 62, 0.664);
}
a:hover {
    color: black;
  }